@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;900&display=swap');
.iconoImg {
    height: 30px;
    width: 30px;
    border-radius: 20%;
}

.cexplicacion-video h2{
    padding: 10px;
}
.cexplicacion-video{
    padding: 10px;
}


#scrollToTopBtn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #1B1C21;
    color: white;
    border: none;
    border-radius: 50%;
    padding: 10px 15px;
    font-size: 20px;
    cursor: pointer;
    display: none; /* Inicialmente oculto */
}

#scrollToTopBtn:hover {
    background-color: #989cac;
}


body {
font-family: 'Poppins', sans-serif;
}
h1, h2, h3 ,p{
font-family: 'Poppins', sans-serif;
font-weight: 900;
}

.ms--images {
position: relative;
overflow: hidden;
}
.ms--images.ms-container--horizontal {
width: 35%;
height: 400px;
left: 10%;
/* max-width: 100%; */
}
.ms--images.ms-container--horizontal .ms-track {
left: calc(50% - 350px);
}
.ms--images.ms-container--horizontal .ms-slide {
display: inline-flex;
}
.ms--images .ms-track {
display: flex;
position: absolute;
white-space: nowrap;
padding: 0;
margin: 0;
list-style: none;
}
.ms--images .ms-slide {
align-items: center;
justify-content: center;
width: 700px;
height: 500px;
-webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
        user-select: none;
}

.ms--images {
left: calc(50% - 280px);
}
.ms--images.ms-container--horizontal .ms-track {
left: -70px;
}
.ms--images .ms-slide:nth-child(1) .ms-slide__image {
background-image: url("https://i.pinimg.com/736x/27/ba/d6/27bad6d1152a444aa1a01512a5fed9b5.jpg");
}
.ms--images .ms-slide:nth-child(2) .ms-slide__image {
background-image: url("https://i.pinimg.com/736x/e5/5a/38/e55a38e67e9e6b2276f0d4e6f2d9d421.jpg");
}
.ms--images .ms-slide:nth-child(3) .ms-slide__image {
background-image: url("https://i.pinimg.com/736x/c5/40/4e/c5404e9086d5a1006db560bc8f6eb4e1.jpg");
}
.ms--images .ms-slide:nth-child(4) .ms-slide__image {
background-image: url("https://i.pinimg.com/736x/18/aa/1b/18aa1b4e8693cc273e2a7bad213fa5b8.jpg");
}
.ms--images .ms-slide__image-container {
width: 80%;
height: 80%;
background-color: rgba(0, 0, 0, 0.3);
overflow: hidden;
}
.ms--images .ms-slide__image {
width: 100%;
height: 100%;
background-size: cover;
}

.ms--numbers {
position: relative;
overflow: hidden;
}
.ms--numbers.ms-container--horizontal {
width: 240px;
height: 240px;
max-width: 100%;
}
.ms--numbers.ms-container--horizontal .ms-track {
left: calc(50% - 120px);
}
.ms--numbers.ms-container--horizontal .ms-slide {
display: inline-flex;
}
.ms--numbers .ms-track {
display: flex;
position: absolute;
white-space: nowrap;
padding: 0;
margin: 0;
list-style: none;
}
.ms--numbers .ms-slide {
align-items: center;
justify-content: center;
width: 240px;
height: 240px;
-webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
        user-select: none;
}

.ms--numbers {
position: absolute;
left: calc(50% - 380px);
top: calc(50% - 300px);
z-index: -1;
pointer-events: none;
}
.ms--numbers .ms-slide {
font-size: 9em;
font-weight: 900;
color: rgba(255, 255, 255, 0.2);
}

.ms--titles {
position: relative;
overflow: hidden;
}
.ms--titles.ms-container--vertical {
width: 400px;
height: 170px;
max-height: 100%;
}
.ms--titles.ms-container--vertical .ms-track {
flex-direction: column;
top: calc(50% - 85px);
}
.ms--titles.ms-container--vertical.ms-container--reverse .ms-track {
flex-direction: column-reverse;
top: auto;
bottom: calc(50% - 85px);
}
.ms--titles.ms-container--vertical .ms-slide {
display: flex;
}
.ms--titles .ms-track {
display: flex;
position: absolute;
white-space: nowrap;
padding: 0;
margin: 0;
list-style: none;
}
.ms--titles .ms-slide {
align-items: center;
justify-content: center;
width: 400px;
height: 170px;
-webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
        user-select: none;
}

.ms--titles {
position: absolute;
left: calc(50% - 420px);
top: calc(50% - 85px);
z-index: 1;
pointer-events: none;
}
.ms--titles .ms-track {
white-space: normal;
}
.ms--titles .ms-slide {
font-size: 3.3em;
font-weight: 600;
}
.ms--titles .ms-slide h3 {
margin: 0;
text-shadow: 1px 1px 2px black;
}

.ms--links {
position: relative;
overflow: hidden;
}
.ms--links.ms-container--vertical {
width: 120px;
height: 60px;
max-height: 100%;
}
.ms--links.ms-container--vertical .ms-track {
flex-direction: column;
top: calc(50% - 30px);
}
.ms--links.ms-container--vertical .ms-slide {
display: flex;
}
.ms--links .ms-track {
display: flex;
position: absolute;
white-space: nowrap;
padding: 0;
margin: 0;
list-style: none;
}
.ms--links .ms-slide {
align-items: center;
justify-content: center;
width: 120px;
height: 60px;
-webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
        user-select: none;
}

.ms--links {
position: absolute;
left: calc(50% - 420px);
top: calc(50% + 105px);
z-index: 1;
}
.ms--links .ms-track {
white-space: normal;
}
.ms--links .ms-slide__link {
font-weight: 600;
padding: 5px 0 8px;
border-bottom: 2px solid white;
cursor: pointer;
}

.pagination {
display: flex;
position: absolute;
left: calc(50% - 420px);
top: calc(100%);
list-style: none;
margin: 0;
padding: 0;
overflow: hidden;
z-index: 1;
}
.pagination__button {
display: inline-block;
position: relative;
width: 36px;
height: 20px;
margin: 0 5px;
cursor: pointer;
}
.pagination__button:before, .pagination__button:after {
content: "";
position: absolute;
left: 0;
top: calc(50% - 1px);
width: 100%;
box-shadow: 0 1px 0 #0B0D14;
}
.pagination__button:before {
height: 2px;
background-color: #6A3836;
}
.pagination__button:after {
height: 3px;
background-color: #DC4540;
opacity: 0;
transition: 0.5s opacity;
}

.pagination__item--active .pagination__button:after {
opacity: 1;
}

@media screen and (max-width: 860px) {
.ms--numbers {
    left: calc(50% - 120px);
}

.ms--titles {
    left: calc(50% - 200px);
    top: calc(50% - 135px);
    text-align: center;
}

.ms--links {
    left: calc(50% - 60px);
    top: calc(50% + 80px);
}

.pagination {
    left: 50%;
    top: calc(100% - 50px);
    transform: translateX(-50%);
}
}
@media screen and (max-width: 600px) {
.ms--images {
    overflow: visible;
}
}
@media screen and (max-width: 400px) {
.ms--titles .ms-slide {
    transform: scale(0.8);
}
}
*, *:before, *:after {
box-sizing: border-box;
}

body {
color: white;
background-color: #1B1C21;
/* overflow: hidden; */
}

a {
color: white;
text-decoration: none;
cursor: pointer;
}

.containerInicio {
position: relative;
display: flex;
flex-direction: column;
min-height: 10vh;
background-color: #1B1C21;
}
.containerInicio:before {
content: "";
position: absolute;
left: -500%;
top: 0;
width: 300%;
height: 20%;
background-color: rgba(0, 0, 0, 0.3);
transform: rotate(45deg);
z-index: -1;
}

.header {
display: flex;
align-items: center;
padding: 30px;
}

.header__logo {
font-size: 1.3em;
font-weight: 900;
letter-spacing: -1px;
}
.header__logo span {
display: inline-block;
transform: translateY(4px) rotate(180deg);
pointer-events: none;
}

.header__menu {
margin-left: auto;
}

.header__menu__list, .footer__menu__list {
display: flex;
list-style: none;
margin: 0;
padding: 0;
}

.header__menu__link {
margin-left: 50px;
}

.footer {
display: absolute;
justify-content: right;
align-items: center;
padding: 30px;
}

.footer__menu__link {
margin-left: 50px;
color: rgba(255, 255, 255, 0.5);
}

.sliders-container {
position: relative;
display: flex;
align-items: center;
justify-content: center;
flex: 1;
}

@media screen and (max-width: 860px) {
.header__menu, .footer {
    display: none;
}
}                                         
            


section{
background-color: #1B1C21;
color: #0B0D14;
}

img, div, section {
box-sizing: border-box;
max-width: 100%;
}



















/* SECTION 2 */

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

* {
margin: 0;
padding: 0;
}


.section2 {
padding-block: min(20vh, 2rem);
width: calc(min(100%rem, 100%));
margin-inline: auto;
color: #111;
overflow: hidden;

h2 {
    text-transform: capitalize;
    letter-spacing: 0.025em;
    font-size: clamp(2rem, 1.8125rem + 0.75vw, 2.6rem);
}

a {
    display: inline-block;
    text-decoration: none;
}

.container {
    
    flex-wrap: wrap; /* Permite que los elementos pasen a la siguiente línea cuando no hay espacio */
    gap: 2px; /* Espacio entre los elementos */

    margin-top: 5em;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
    gap: 2rem;

    .card {
    &:nth-child(1) .box .icon .iconBox {
        background: #8d4a1d;
    }
    &:nth-child(2) .box .icon .iconBox {
        background: #2a5a58;
    }
    &:nth-child(3) .box .icon .iconBox {
        background: #d05fa2;
    }

    ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 0.625rem;

        li {
        text-transform: uppercase;
        background: var(--clr-tag);
        color: #282828;
        font-weight: 700;
        font-size: 0.8rem;
        padding: 0.375rem 0.625rem;
        border-radius: 0.188rem;
        }

        .branding {
        color: darken(#2b3bae, 40%);
        }

        .packaging {
        color: darken(#dd9309, 40%);
        }

        .marketing {
        color: darken(#d05fa2, 40%);
        }
    }

    .content {
        padding: 0.938rem 0.625rem;

        h3 {
        text-transform: capitalize;
        font-size: clamp(1.5rem, 1.3909rem + 0.4364vw, 1.8rem);
        }

        p {
        margin: 0.625rem 0 1.25rem;
        color: #565656;
        }
    }
    }

    .card-inner {
    position: relative;
    width: inherit;
    height: 18.75rem;
    background: var(--clr);
    border-radius: 1.25rem;
    border-bottom-right-radius: 0;
    overflow: hidden;

    .box {
        width: 100%;
        height: 100%;
        background: #fff;
        border-radius: 1.25rem;
        overflow: hidden;

        .imgBox {
        position: absolute;
        inset: 0;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        }

        .icon {
        position: absolute;
        bottom: -0.375rem;
        right: -0.375rem;
        width: 6rem;
        height: 6rem;
        background: var(--clr);
        border-top-left-radius: 50%;

        &:hover .iconBox {
            transform: scale(1.1);
        }

        &::before {
            position: absolute;
            content: "";
            bottom: 0.375rem;
            left: -1.25rem;
            background: transparent;
            width: 1.25rem;
            height: 1.25rem;
            border-bottom-right-radius: 1.25rem;
            box-shadow: 0.313rem 0.313rem 0 0.313rem #fff;
        }

        &::after {
            position: absolute;
            content: "";
            top: -1.25rem;
            right: 0.375rem;
            background: transparent;
            width: 1.25rem;
            height: 1.25rem;
            border-bottom-right-radius: 1.25rem;
            box-shadow: 0.313rem 0.313rem 0 0.313rem var(--clr);
        }

        .iconBox {
            position: absolute;
            inset: 0.625rem;
            background: #282828;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: 0.3s;

            span {
            color: #fff;
            font-size: 1.5rem;
            }
        }
        }
    }
    }
}
}
                                      
.header {
margin-bottom: 20px; /* Espacio entre el header y el contenido siguiente */
}

.section2 {
padding-top: 50px; /* Asegura que no se superponga al header */
}







/* añadir parte sebastian */




/* Header */


/* Estilización del nav */



figure{
margin:0;
width: 100%;

}

.Equipo{

width: 100%;



}


.counter
nav{
display:flex;
justify-content: space-around;


}

/* Estilizacion del titulo */

nav div a{

text-decoration: none;
color: whitesmoke;

}


/* Estilización de las listas */


.Links_nav {
list-style: none;
display: flex;
gap: 1.5rem;
margin: 0;
padding: 0;
font-size: large;
}

.Links_nav li {
position: relative;
}


.Links_nav li a {
color: white;
text-decoration: none;
font-size: 1rem;
}

.Links_nav li a:hover {
color: #4082b1cf;
}



.Contenedor_P1{

display: flex;
justify-content: space-evenly;
align-items: center;

}


.Parrafo1{

height: 100%;





}

.Img_2{

width: 300px;
/* height: auto; */
margin:10px;
border-radius: 7px;


}




/* 

@media (max-width: 768px) {
nav .Links_nav {
display: none;
flex-direction: column;
width: 100%;
background-color: #333;
}
nav .Links_nav li a {
padding: 1em;
text-align: center;
}
#nav-toggle {
display: block;
}
.nav-open .links_nav {
display: flex;
}
} */




.Dropdown {
display: none; 
position: absolute;
top: 100%;
left: 0;
width: 200px;
background-color: #1773b5f0;
list-style: none;
padding: 0;
margin: 0;
border-radius: 5px;
overflow: hidden;
z-index: 1000;
}


.Dropdown li {
border-bottom: 1px solid #3a7bb0;
}

.Dropdown li:last-child {
border-bottom: none;
}

.Dropdown li a {
color: white;
padding: 10px 20px;
display: block; 
text-decoration: none;
}

.Dropdown li a:hover {
background-color: #124a66d6;

}


.dropdown:hover .Dropdown {
display: block; 
}

/* main */
main {
width: 100%;
flex: 1;
padding: 2rem;
display:flex;
flex-direction: column;
text-align: center;



}



.Contenedor_P1{
background-color: #fff;
max-width: 1000px;
border-radius: 7px;
margin: 0 auto;
box-shadow: inset 0 -3em 3em rgba(205, 203, 203, 0.1),
0 0  0 2px rgb(228, 228, 228),
0.3em 0.3em 1em rgba(0,0,0,0.3);

}

main div p{
padding:40px;


}


.cexplicacion-video{

display:flex;
justify-content: space-around;


}


.seccionVideo{
text-align: center;
background-color: #ffffff;
margin: 0 auto ;
margin-top: 30px;
max-width:70%;
border-radius: 7px;
box-shadow: inset 0 -3em 3em rgba(205, 203, 203, 0.1),
0 0  0 2px rgb(228, 228, 228),
0.3em 0.3em 1em rgba(0,0,0,0.3);



}


.cexplicacion-video{
display: flex;
flex-direction: column;
color:rgb(0, 0, 0);

}

.video{

padding: 20px;

}



.contenedor_tabla{

display:flex;
justify-content: center;
max-width: 100%;
padding:20px;



}


.tabla{

max-width: 500px;
width: 100%;
border: 4px solid rgba(17, 17, 125, 0.572) ;
border-collapse: collapse;
padding:10px;
text-align: center;
}

.tabla:hover{

box-shadow: inset 0 -3em 3em rgba(53, 65, 117, 0.1),
0 0  0 2px rgb(228, 228, 228),
0.3em 0.3em 1em rgba(0,0,0,0.3);

}




.Seccion_final{
max-width: 80%;
margin-top: 30px;
display:flex;
justify-content: space-around;


}




.carta {
width: 330px;
height: 350px;
margin: 0 auto ;
border-radius: 10px;
padding: 5px;
box-shadow: rgba(82, 107, 232, 0.255) 0 15px 30px -5px;
background-image: linear-gradient(144deg,#1e5891, #434eae 50%,#00DDEB);
display: flex;
justify-content: center;
align-items: center;

}

.carta__contenido {

background-color: #ffff;    
border-radius: 10px;
width: 100%;
height: 100%;
}



.Chica{

width: 270px;
height: 370px;
bottom: 0;


}


.form-contenedor{
background-color: #ffffff;
margin-top: 30px;
max-width:300px;
width: 50%;
border-radius: 7px;
box-shadow: inset 0 -3em 3em rgba(205, 203, 203, 0.1),
0 0  0 2px rgb(228, 228, 228),
0.3em 0.3em 1em rgba(0,0,0,0.3);
}


/* inputs */

.input-diseño {
padding: 10px;
border: 2px solid #ccc;
border-radius: 5px;
font-size: 16px;
color: #555;
outline: none;
}

.input-diseño:focus {
border-color: #007bff;
box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}


/* Buttons */

.button {
display: inline-block;
border-radius: 7px;
border: none;
background: #1875FF;
color: white;
font-family: inherit;
text-align: center;
font-size: 13px;
box-shadow: 0px 14px 56px -11px #1875FF;
width: 10em;
padding: 1em;
transition: all 0.4s;
cursor: pointer;
}

.button span {
cursor: pointer;
display: inline-block;
position: relative;
transition: 0.4s;
}

.button span:after {
content: 'for free';
position: absolute;
opacity: 0;
top: 0;
right: -20px;
transition: 0.7s;
}

.button:hover span {
padding-right: 3.55em;
}

.button:hover span:after {
opacity: 4;
right: 0;
}




.content_flex p {
    font-size: 19px;
    text-align: center;
}


















@import url(//fonts.googleapis.com/css?family=Lato:300:400);

/* body {
margin:0;
}

h1 {
font-family: 'Lato', sans-serif;
font-weight:300;
letter-spacing: 2px;
font-size:48px;
}
p {
font-family: 'Lato', sans-serif;
letter-spacing: 1px;
font-size:14px;
color: #333333;
} */

.section2{
background-color: white;
padding: 0%;
}
.headerInicio {
position:relative;
text-align:center;
background-color: #1B1C21;
color:white;
}
.logo {
width:50px;
fill:white;
padding-right:15px;
display:inline-block;
vertical-align: middle;
}

.inner-header {
height:25vh;
width:100%;
margin: 0;
padding: 0;
}

.flex { /*Flexbox for containers*/
display: flex;
justify-content: center;
align-items: center;
text-align: center;
}

.waves {
position:relative;
width: 100%;
height:15vh;
margin-bottom:-7px; 
min-height:100px;
max-height:150px;
}

.content {
position:relative;
height:20vh;
text-align:center;
background-color: white;
}

/* Animation */

.parallax > use {
animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)infinite;
}
.parallax > use:nth-child(1) {
animation-delay: -2s;
animation-duration: 7s;
}
.parallax > use:nth-child(2) {
animation-delay: -3s;
animation-duration: 10s;
}
.parallax > use:nth-child(3) {
animation-delay: -4s;
animation-duration: 13s;
}
.parallax > use:nth-child(4) {
animation-delay: -5s;
animation-duration: 20s;
}
@keyframes move-forever {
0% {
transform: translate3d(-90px,0,0);
}
100% { 
transform: translate3d(85px,0,0);
}
}
@media (max-width: 768px) {
.waves {
height:40px;
min-height:40px;
}
.content {
height:30vh;
}
h1 {
font-size:24px;
}
}







.footerFinal {
background-color: #626262;
color: #fff;
text-align: center;
padding: 15px 2px;
font-size: 14px;
position: relative; /* Opción sin posicionamiento fijo */

}

